[submodule "mag/-b"]
	path = mag/-b
	url = https://github.com/UAH-IC-Design-Team/sky130-10-bit-SAR-ADC.git
[submodule "mag/sky130-10-bit-SAR-ADC"]
	path = mag/sky130-10-bit-SAR-ADC
	url = https://github.com/UAH-IC-Design-Team/sky130-10-bit-SAR-ADC.git
	branch = moc-design
[submodule "xschem/sky130-10-bit-SAR-ADC"]
	path = xschem/sky130-10-bit-SAR-ADC
	url = https://github.com/UAH-IC-Design-Team/sky130-10-bit-SAR-ADC.git
	branch = moc-design
